.d-none{
    display: none;
}


:root{
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--Light_gray);
    height: 98dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.caja{
  width: 246px;
  background-color: var(--White);
  padding: 16px;
  border-radius: 15px;
}
.QR{
    width: 100%;
    border-radius: 15px;
}

.fuente{
    font-family: 'Outfit', sans-serif; 
}

.titulo{
   color: var(--Dark_blue);
   text-align: center;

}

.contenido{
    color: var(--Grayish_blue);
   text-align: center;
}