:root{
    --White: hsl(0, 0%, 100%);
    --Light_gray: hsl(212, 45%, 89%);
    --Grayish_blue: hsl(220, 15%, 55%);
    --Dark_blue: hsl(218, 44%, 22%);
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 45%, 77%);  
}

.caja{
  width: 1700px;
  height: 2800px;
  background-color: hsl(212, 45%, 89%);;
  border-radius: 50px;
  padding: 60px;
}
.QR{
    width: 1690px;
    border-radius: 50px;
}

.fuente{
    font-family: 'Caveat', cursive;
    font-family: 'Outfit', sans-serif; 
}